@import url(init.css);

body {

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    background-color: var(--background-light);

    position: relative;

    & header{

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 17vh;

        background-color: var(--background-dark);

        & a {
            width: 23%;
            min-width: 250px;
        }

    }

    & main {

        height: 83vh;
        width: 100%;
        padding: 0 5%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 5%;

        & form {

            height: 65%;
            width: 30%;
            min-width: 350px;

            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;

            background-color: #19becf11;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
            backdrop-filter: blur( 2px );
            border-radius: 0.7rem;

            color: var(--black);

            & h2{
                font-weight: 500;
                font-size: 1.3rem;
            }

            & svg {
                width: 100%;
                height: 3px;
            }

            .input-group{
                width: 70%;
                height: 50%;
                
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 0.7rem;

                .input-field{
                    width: 100%;

                    & input, & select{
                        width: 100%;
                        height: 2rem;
    
                        background-color: transparent;
                        border-radius: 0.4rem;
                        border: 1px solid var(--background-dark);
    
                        font-size: 1rem;
                        font-weight: 300;

                        transition: border 0.3s;

                        &:hover{
                            border: 1px solid var(--secondary-color);
                        }
    
                        &:focus{
                            border: 1px solid var(--secondary-color-dark);
                        }
                    }

                    & label {
                        font-weight: 400;
                        width: 100%;
                    }

                    & label, & select, & input {
                        padding-left: 0.5rem;
                    }

                }

            }

            & button {
                width: 34%;
                height: 12%;

                background-color: var(--secondary-color);
                color: var(--white);
                border: none;
                border-radius: 0.4rem;
                font-size: 1.1rem;
                font-weight: 500;

                cursor: pointer;
                transition: scale 0.3s;

                &:hover {
                    scale: 1.05;
                }

                &:active {
                    scale: 0.95;
                }
            }

        }

        & section, & aside {

            height: 85%;

            background-color: #19becf11;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
            backdrop-filter: blur( 2px );
            border-radius: 0.7rem;

            color: var(--black);

            & h2{
                font-weight: 600;
                color: var(--secondary-color);
            }

        }

        & section {

            width: 40%;
            padding-top: 1rem;

            display: flex;
            justify-content: start;
            align-items: center;
            flex-direction: column;
            gap: 1rem;

            & img {
                width: 80%;
                height: 80%;
            }

        }

        & aside {
            width: 40%;
            padding-top: 2rem;
            padding-bottom: 2rem;

            display: flex;
            justify-content: start;
            align-items: center;
            flex-direction: column;

            & .info {

                width: 80%;

                flex: 1;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: row;
                gap: 1rem;

                & .parameters, & .results {

                    height: 80%;
                    width: 50%;

                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    flex-direction: column;

                    & article {
                        width: 100%;
        
                        display: flex;
                        align-items: start;
                        flex-direction: column;
                        gap: 0.2rem;
        
                        & label{
                            font-weight: 500;
                            font-size: 1rem;
                        }
        
                        & .parameter {
                            height: 2rem;
                            width: 100%;
                            padding-left: 0.5rem;
        
                            display: flex;
                            align-items: center;
        
                            border: 1px solid var(--background-dark);
                            border-radius: 10px;
                        }
                    }

                }

            }

            & a{
                width: 80%;
                height: 10%;

                display: flex;
                justify-content: center;
                align-items: center;

                background-color: var(--secondary-color);
                color: var(--white);
                border: none;
                border-radius: 0.4rem;
                font-size: 1.1rem;
                font-weight: 500;

                cursor: pointer;
                transition: scale 0.3s;

                &:hover {
                    scale: 1.05;
                }

                &:active {
                    scale: 0.95;
                }
            }

        }



    }

    & dotlottie-player{

        position: absolute;
        top: 20%;
        left: 0;
        width: 100% !important;
        height: 80% !important;
        z-index: -1;

    }

}