@import url(init.css);

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-dark);
    /* background-color: var(--black); */
    color: var(--white);

    position: relative;

    & main{
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5vh;

        & svg{
            width: 100%;
        }

        & a{

            height: 11vh;
            width: 55%;

            display: flex;
            justify-content: center;
            align-items: center;

            background: #f6b95177;
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 2.5px );
            -webkit-backdrop-filter: blur( 1.5px );
            border-radius: 10px;
            border: 1px solid var(--secondary-color);

            color: inherit;
            cursor: pointer;
            transition: scale 0.3s;

            &:hover{
                scale: 1.05;
            }

            &:active{
                scale: 0.95;
            }

            & p{
                all: unset;
                color: inherit;
                text-align: center;
                font-weight: 500;
                width: 100%;
                font-size: 1.6rem;
            }
        }
    }

    & dotlottie-player{

        position: absolute;
        top: 20%;
        left: 0;
        width: 100% !important;
        height: 80% !important;
        z-index: -1;

    }

}